<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" type="image/png" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/enigmize2.css" />
    <title>Enigmize</title>
  </head>
  
  <body>
    
    <h1><a href="/">Enigmize</a> &nbsp; - &nbsp; <%= @email %> との暗号化通信</h1>

    <div style="margin:0 0 0 40px;width:50%;height:200;background-color:#fff;border:inset;">
      <%= @email %> に送るために暗号化したいファイルをここにDrag & Dropすると 暗号化されたファイル(enigmizeファイル)が生成されます
    </div>
    
  </body>
</html>


