body {
    background-color: #eee;
    background: url('/images/nazo.png')
}

h1 {
    background-color: #ccc;
    color: #222;
    margin: 10pt;
    padding: 10pt;
    border-radius: 5px;
}

a:link { color: #0000f0 ; }
a:visited { color: #0000f0 ; }
a {
  text-decoration: none;
}
